@page
@model Lab.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search Projects";
}

@*<form asp-action="Index">
    <p>Choose a Skill to Search</p>
    <select asp-for="Skill" asp-items="Model.SkillNames">
        <option value="">Choose a Skill</option>
    </select>
    <input type="submit" class="btn btn-purple" />
</form>*@

<br />
<form asp-page="Index">
    <div class="input-group">
        <input type="search" asp-for="SearchString" class="form-control rounded" placeholder="Search for Users by Name, Skills, Hobbies, Interest, Experience, and More!" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-purple">search</button>
    </div>
</form>
<br />

@{
    if (Model.SearchString != null)
    {
        <h2 class="h2">Users By Name:</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            @{
                foreach (var pro in Model.UserSearchList)
                {
                    <div class="col">
                        <div class="card">
                            <img src="~/Images/@pro.fileName" class="rounded-circle img-fluid mx-auto d-block" style="width: 200px; height:220px;" />
                            <div class="card-body">
                                <h5 class="card-title">@pro.firstName @pro.secondName</h5>
                                @{
                                    if (pro.jmuType == "Student")
                                    {
                                        <p class="cardd-text">@pro.jmuType</p>
                                        <p class="cardd-text">James Madison University @pro.gradYear</p>


                                    }
                                    else
                                    {
                                        <p class="cardd-text">@pro.jobTitle at James Madison University</p>
                                        <p class="cardd-text">@pro.department Department</p>

                                    }
                                }
                                <div class="card-footer">
                                    <a asp-page="/Search/ViewProfile" class="btn btn-purple" asp-route-userid="@pro.userID">View Profile</a>

                                </div>

                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    }

}
