@page
@model Lab.Pages.Projects.AddMeetingModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="AddMeeting">
    <br />
    <h2 style="color: #450084;">Create a Meeting</h2>
    <input type="hidden" asp-for="@Model.projectID" required placeholder="userID" />
    <label asp-for="@Model.meetingTitle">Meeting Title</label>
    <br />
    <input type="text" asp-for="@Model.meetingTitle" required placeholder="Meeting Title" />
    <br />
    <label asp-for="@Model.meetingDate">Meeting Date</label>
    <br />
    <input type="date" asp-for="@Model.meetingDate" required placeholder="Meeting Date" />
    <br />
    <label asp-for="@Model.meetingTime">Meeting Time</label>
    <br />
    <input type="text" asp-for="@Model.meetingTime" required placeholder="Meeting Time" />
    <br />
    <label asp-for="@Model.meetingLocation">Meeting Locaton</label>
    <br />
    <input type="text" asp-for="@Model.meetingLocation" required placeholder="Meeting Location" />
    <br />
    <br />
    <div class="form-group">
        <label asp-for="@Model.meetingPlan">Meeting Plan</label>
        <textarea class="form-control" asp-for="@Model.meetingPlan" required rows="3"></textarea>
    </div>
    <br />
    <button type="submit">Create Meeting -> </button>
    <a asp-page="ViewProjects" asp-route-projectid="@Model.projectID">Cancel</a>

</form>