@page
@model Lab.Pages.Projects.AddProjectsModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<div class="m-4">
    <div class="card">
        <div class="card-header" style="background-color: #DACCE6">
            <ul class="nav nav-pills card-header-pills btn btn-purple1">
                <li class="nav-item">
                    <a href="#home" class="nav-link btn btn-purple" data-bs-toggle="tab"></a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="background-color: #DACCE6">
            <div class="tab-content">
                <div class="tab-pane fade show active" style="background-color: #DACCE6" id="home">
                    <div class="row">
                        <form asp-page="AddProjects">
                            <br />
                            <h2 class="text-center" style="color: #450084;">Create a Project</h2>
                            <input type="hidden" asp-for="NewProject.userID" placeholder="userID" />
                            <label asp-for="@Model.NewProject.projectName">Project Name</label>
                            <br />
                            <input type="text" asp-for="NewProject.projectName" required placeholder="Project Name" />
                            <br />
                            <label asp-for="@Model.NewProject.projectOwner">Project Owner</label>
                            <br />
                            <input type="text" asp-for="NewProject.projectOwner" required placeholder="Project Owner" />
                            <br />
                            <label asp-for="@Model.NewProject.projectOwnerEmail">Project Owner Email</label>
                            <br />
                            <input type="text" asp-for="NewProject.projectOwnerEmail" required placeholder="Project Owner Email" />
                            <br />
                            <br />
                            <div class="form-group">
                                <label asp-for="@Model.NewProject.projectMissionStatement">Project Mission Statement</label>
                                <textarea class="form-control" asp-for="@Model.NewProject.projectMissionStatement" required rows="3"></textarea>
                            </div>
                            <br />
                            <div class="form-group">
                                <label asp-for="@Model.NewProject.projectDescription">Project Description</label>
                                <textarea class="form-control" asp-for="@Model.NewProject.projectDescription" required rows="3"></textarea>
                            </div>
                            <br />
                            <input type="date" asp-for="NewProject.projectDate" required placeholder="Project Date" />
                            <br />
                            <br />
                            <button type="submit" class="btn btn-purple">Create Project -> </button>
                            <a asp-page="MyProjects" class="btn btn-warning">Cancel</a>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

