@page
@model Lab.Pages.Projects.EditMeetingModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="Edit">
    <br />
    <h2 style="color: #450084;">Edit Meeting</h2>
    <input type="hidden" asp-for="@Model.MeetingToUpdate.teamMeetingID" required/>
    <label asp-for="@Model.MeetingToUpdate.meetingTitle">Meeting Title</label>
    <br />
    <input type="text" asp-for="@Model.MeetingToUpdate.meetingTitle" required/>
    <br />
    <label asp-for="@Model.MeetingToUpdate.meetingDate">Meeting Date</label>
    <br />
    <input type="date" asp-for="@Model.MeetingToUpdate.meetingDate" required/>
    <br />
    <label asp-for="@Model.MeetingToUpdate.meetingTime">Meeting Time</label>
    <br />
    <input type="text" asp-for="@Model.MeetingToUpdate.meetingTime" required/>
    <br />
    <label asp-for="@Model.MeetingToUpdate.meetingLocation">Meeting Location</label>
    <br />
    <input type="text" asp-for="@Model.MeetingToUpdate.meetingLocation" required/>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="@Model.MeetingToUpdate.meetingPlan">Meeting Plan</label>
        <textarea class="form-control" asp-for="@Model.MeetingToUpdate.meetingPlan" required rows="3"></textarea>
    </div>
    <br />
    <input type="submit" class="btn btn-purple" asp-page="EditMeeting" />
    <a asp-page="ViewProjects" class="btn btn-warning">Cancel</a>
</form>