@page
@model Lab.Pages.Projects.editProjectsModel
@{
    ViewData["Title"] = "Edit Projects";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<form asp-page="Edit">
    <br />
    <h2 style="color: #450084;">Edit Your Project</h2>
    <input type="hidden" asp-for="@Model.ProjectToUpdate.projectID" />
    <label asp-for="@Model.ProjectToUpdate.projectName">Project Name</label>
    <br />
    <input type="text" asp-for="@Model.ProjectToUpdate.projectName" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.projectOwner">Project Owner</label>
    <br />
    <input type="text" asp-for="@Model.ProjectToUpdate.projectOwner" />
    <br />
    <label asp-for="@Model.ProjectToUpdate.projectOwnerEmail">Project Owner Email</label>
    <br />
    <input type="text" asp-for="@Model.ProjectToUpdate.projectOwnerEmail" />
    <br />
    <br />
    <div class="form-group">
        <label asp-for="@Model.ProjectToUpdate.projectMissionStatement">Project Mission Statement</label>
        <textarea class="form-control" asp-for="@Model.ProjectToUpdate.projectMissionStatement" rows="3"></textarea>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.ProjectToUpdate.projectDescription">Project Description</label>
        <textarea class="form-control" asp-for="@Model.ProjectToUpdate.projectDescription" rows="3"></textarea>
    </div>
    <br />
    <label asp-for="@Model.ProjectToUpdate.projectDate">Project Date</label>
    <input type="date" asp-for="@Model.ProjectToUpdate.projectDate" />
    <input type="submit" class="btn btn-success" asp-page="EditSkills" />
    <a asp-page="ViewProjects" asp-route-projectid="@Model.ProjectToUpdate.projectID">Cancel</a>
</form>
