@page
@model Lab.Pages.Projects.MyProjectsModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">

<br/>

<h2 style = "color: #450084;">My Owned Projects</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @{
        foreach (var pro in Model.MyProjectList)
    {
            <div class="card-group col">
                <div class="card">
                    <img src="~/Images/@pro.fileName" class="card-img-top img-fluid" style="width: 170px;" />
                    <div class="card-body">
                        <h5 class="card-title">@pro.projectName</h5>
                            <p class="cardd-text">Project Owner: @pro.projectOwner</p>
                            <p class="card-text">Email: @pro.projectOwnerEmail</p>

                            <p class="card-text">
                                Description: <br />
                                @pro.projectDescription
                            </p>
                            <p class="card-text">
                                Created: @pro.projectDate
                            </p>
                    </div>
                        <div class="card-footer">
                            <a asp-page="ViewProjects" class="btn btn-purple" asp-route-projectid="@pro.projectID">View Project</a>
                            <a asp-page="ViewRequests" class="btn btn-purple" asp-route-projectid="@pro.projectID">View Requests</a>
                        </div>
                </div>
            </div>
    }
    }
   
</div>


<br />
<h2 style="color: #450084;">Projects I'm On</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @{
        foreach (var proj in Model.MemberProjectList)
        {
                <div class="card-group col">
                    <div class="card">
                        <img src="~/Images/@proj.fileName" class="card-img-top img-fluid" style="width: 170px;" />
                        <div class="card-body">
                            <h5 class="card-title">@proj.projectName</h5>
                            <p class="cardd-text">Project Owner: @proj.projectOwner</p>
                            <p class="card-text">Email: @proj.projectOwnerEmail</p>

                            <p class="card-text">
                                Description: <br />
                                @proj.projectDescription
                            </p>
                            <p class="card-text">
                                Created: @proj.projectDate
                            </p>
                        </div>
                        <div class="card-footer">
                            <a asp-page="/Search/ViewProject" class="btn btn-purple" asp-route-projectid="@proj.projectID">View Project</a>
                        </div>
                    </div>
                </div>
        }
    }

</div>



