@page
@model Lab.Pages.Projects.projectsearchModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">
<br />
<div class="m-4">
    <div class="card">
        <div class="card-header" style="background-color: #DACCE6">
            <ul class="nav nav-pills card-header-pills btn btn-purple1">
                <li class="nav-item">
                    <a href="#home" class="nav-link btn btn-purple" data-bs-toggle="tab"></a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="background-color: #DACCE6">
            <div class="tab-content">
                <div class="tab-pane fade show active" style="background-color: #DACCE6" id="home">
                    <div class="row">
                        <h2 class = "text-center" style="color: #450084;">Project Search</h2>
                        <form asp-page="projectsearch">
                            <div class="input-group">
                                <input type="search" asp-for="SearchString" class="form-control rounded" placeholder="Search for Project" aria-label="Search" aria-describedby="search-addon" />
                                <button type="submit" class="btn btn-purple">Search</button>
                            </div>
                        </form>
                        @{
                            if (Model.SearchString != null)
                            {


                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    @{
                                        foreach (var pro in Model.ProjectSearchList)
                                        {
                                            <div class="card-group col">
                                                <div class="card">
                                                    <img src="~/Images/@pro.fileName" class="card-img-top rounded-circle img-fluid" style="width: 170px;" />
                                                    <div class="card-body">
                                                        <h5 class="card-title">@pro.projectName</h5>
                                                        <p class="cardd-text">Project Owner: @pro.projectOwner</p>
                                                        <p class="card-text">Email: @pro.projectOwnerEmail</p>

                                                        <p class="card-text">
                                                            Description: <br />
                                                            @pro.projectDescription
                                                        </p>
                                                        <p class="card-text">
                                                            Created: @pro.projectDate
                                                        </p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <a asp-page="ViewOtherProjects" class="btn btn-purple" asp-route-projectid="@pro.projectID">View Project</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }


                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@*@{
    if (Model.SearchString != null)
    {


        <div class="row row-cols-1 row-cols-md-3 g-4">
            @{
                foreach (var pro in Model.ProjectSearchList)
                {
                    <div class="card-group col">
                        <div class="card">
                            <img src="~/Images/@pro.fileName" class="card-img-top rounded-circle img-fluid" style="width: 170px;" />
                            <div class="card-body">
                                <h5 class="card-title">@pro.projectName</h5>
                                <p class="cardd-text">Project Owner: @pro.projectOwner</p>
                                <p class="card-text">Email: @pro.projectOwnerEmail</p>

                                <p class="card-text">
                                    Description: <br />
                                    @pro.projectDescription
                                </p>
                                <p class="card-text">
                                    Created: @pro.projectDate
                                </p>
                            </div>
                            <div class="card-footer">
                                <a asp-page="ViewOtherProjects" class="btn btn-purple" asp-route-projectid="@pro.projectID">View Project</a>
                            </div>
                        </div>
                    </div>
                }
            }


        </div>
    }
}*@