@page
@model Lab.Pages.Login.CreateHashedLoginModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">


<form asp-page="CreateHashedLogin">
    <br />
    <h2 style="color: #450084;">Create Account</h2>
    <label>Enter New Username:</label>
    <input asp-for="username" class="form-control" required placeholder="Enter Username" />

    <br />
   
    <label>Enter New User's Password:</label>
    <input asp-for="passphrase" class="form-control" required type="password" />
   
    <br />

    <label>First Name:</label>
    <input asp-for="firstName" class="form-control" required placeholder="Enter First Name" />

    <br />

    <label>Second Name:</label>
    <input asp-for="secondName" class="form-control" required placeholder="Enter Second Name" />

    <br />
    
    <label for="jmuType">Choose Your JMU Affiliation:</label>
    <select asp-for="jmuType" required>
        <option value="Student">Student</option>
        <option value="Faculty">Faculty</option>
    </select>
    <br />
    <br />
    <h2 style="color: #450084;">Security Questions</h2>
    <label asp-for="@Model.secQuestionMom">What is your Mother's Maiden Name?</label>
    <br />
    <input type="text" asp-for="@Model.secQuestionMom" required placeholder="Enter Answer" />
    <br />
    <label asp-for="@Model.secQuestionPet">What was the name of your first pet?</label>
    <br />
    <input type="text" asp-for="@Model.secQuestionPet" required placeholder="Enter Answer" />
    <br />
    <label asp-for="@Model.secQuestionParents">What city did your Parents meet in?</label>
    <br />
    <input type="text" asp-for="@Model.secQuestionParents" required placeholder="Enter Answer" />
    <br />
    <br />
    <input type="submit" class="btn btn-purple" />
</form>
@{
    if (ViewData["UserCreate"] != null)
    {
        <p class="text-success">@ViewData["UserCreate"]</p>
    }

}