@page
@model Lab.Pages.Login.HashedLoginModel
@{
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Arvo&display=swap" rel="stylesheet">

<body style="background-color: #3B1281 ">
<form asp-page="HashedLogin">
    <div align="center">
       @* <img src="~/Images/MadisonConnectHubPurple.png" width="250" height="150">*@
       <br />
       <br />
    <input asp-for="username" class="form-control" placeholder="Enter Username" style="width:300px" >
    <br/>
    <input asp-for="passphrase" class="form-control" placeholder="Enter Password" type="password" style="width:300px" />
    <br/>
            <input type="submit" value="Log in" class="btn btn-purple"/>
    <hr size="2" width=30% />
            <p style="color:#450084">Are you new?</p>
            <a class="btn btn-warning" asp-area="" asp-page="/Login/CreateHashedLogin">Sign Up</a>
            <br />
            <br />
            <a class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot Password?</a>
</form>
<br />

    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Username</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input asp-for="@Model.enteredUsername" class="form-control" placeholder="Enter Username" style="width:450px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-purple" asp-page="SecQuestions" asp-route-enteredusername="@Model.enteredUsername">Go to Security Questions</a>
                </div>
            </div>
        </div>
    </div>
</body>




@{
    if (HttpContext.Session.GetString("username") != null)
    {
    <p class="text-success">@ViewData["LoginMessage"]</p>
    }
    else
    {
    <p class="text-danger">@ViewData["LoginMessage"]</p>
    }
}

@{
    if (ViewData["ErrorMessage"] != null)
    {
    <p class="text-danger" align="center" >@ViewData["ErrorMessage"].ToString()</p>
    }
}

