@page
@model Lab.Pages.Messages.ReplyModel
@{
}



<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Arvo&display=swap" rel="stylesheet">



<form asp-page="Reply">
    <br />
    <h2 style="color: #450084;">Reply to a Message</h2>
    <input type="hidden" asp-for="@Model.userID" placeholder="userID" />

    <input type="hidden" asp-for="@Model.otherUserID" placeholder="otherUserID" />
    <br />
    <div class="input-group">
        <span class="input-group-text">First and last name</span>
        <input type="text" asp-for="@Model.fName" required aria-label="First name" class="form-control">
        <input type="text" asp-for="@Model.lName" required aria-label="Last name" class="form-control">
    </div>
    

    <label asp-for="@Model.Subject">Subject</label>
    <br />
    <input type="text" asp-for="@Model.Subject" required placeholder="Subject" />
    <br />
    <div class="form-group">
        <label asp-for="@Model.message">Message</label>
        <textarea class="form-control" asp-for="@Model.message" required rows="3"></textarea>
    </div>
    <br />
    <button type="submit">Send Message -> </button>
    <a asp-page="Index" asp-route-userid="@Model.userID">Cancel</a>

</form>